@mixin input($bkgnd: #f5f5f5) {
  //font-family: $font-family;
  width: 485px;
  background-color: white;
  margin: 0 0 15px;
  border-width: 1.5px;
  padding: 12px;
  // font-size: 15px;
  text-align: center;
  // box-sizing: border-box;
  background: $bkgnd;

  height: 10px;
}
