//colors
$blackColor: rgb(6, 5, 5);
$whiteColor: rgb(243, 231, 231);
$redColor: rgb(243, 18, 18);
$whiteColour: rgb(251, 248, 248);
$background-color: #d7ccc8;
//FONTS

$titleFont: Arial, Helvetica, sans-serif;
$bodyFont: "Times New Roman", Times, serif;
$font-family: "Roboto", sans-serif;
